﻿
@model List<Models.ViewModels.PhotoViewModel>


@if (Model.Count() > 1)
{
    <div class="row" style="margin-top: 20px; font-size: large;">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-camera" style="margin-right: 10px;"></span>
            <b>Galeria zdjęć</b> <small style="font-size: 65%">(kliknij na wybrane zdjęcie, aby je powiększyć)</small>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                @{
    int counter = 0;
                }
                @foreach (var photo in Model.Skip(1))
                {
                    counter += 1;
                    <div class="col-md-3" style="text-align: center;">
                        <a class="fancybox" rel="gallery1" href="@photo.Name">
                            <img src="@photo.Thumbnail" onerror="this.src = '/Content/img/brakzdjecia.png'" style="border: 1px solid white; margin-bottom: 10px;" />
                        </a>
                    </div>

                    if (counter % 4 == 0)
                    {
                        <div class="row" style="margin-top: 10px;">
                            <br />
                        </div>
                    }
                }

            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });
    });

</script>