@{
    ViewBag.Title = "Stronia nie odnaleziona!";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 short-advert-label">
                        Nie odnaleziono
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 short-advert-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="font-size: 14px">
                                    @{ Html.RenderPartial("Texts/_NotFoundText"); }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>