@{
    ViewBag.Title = "title";
}
<div class="col-md-12">
    <div class="row" style="margin-top: 20px">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 found-adverts-count">
                        <div class="col-md-6">
                            Pytanie zostało wysłane.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
