@model Models.ViewModels.PropertyViewModel
@{
    Layout = null;
}
<div>
    <input type="hidden" name="Property.Name" value="@Model.Name"/>
    <input type="hidden" name="Property.Value" value="@Model.Name"/>
</div>
