@using System.Web.Razor.Parser
@model List<Models.ViewModels.AdvertTypeViewModel>

@{
    Layout = "_AdminLayout.cshtml";
}

<!DOCTYPE html>

<div class="col-md-12">
    <div class="row">
        <h3>Wybierz nieruchomość:</h3>
        @Html.DropDownList("AdvertType", new SelectList(Model,"Mask","Name"), new {@class = "form-control"})
    </div>
</div>